-# coding: utf-8
%h1 Maries Website

%h2 Erste Überschrift
%p= "Hier ein Text blablabla"

%h2 Ein Bild
%img{:src => "tree.png", :alt => 'Tree Picture'}

%h2 Ein Link
%a{:href => "http://www.uni-due.de/"}Uni Due

%h2 Ein "Formular"

%label{for:"Text"}Text:
%br
%input{type:"text field", id:"Text"}
%br
%input{type:"button", value:"Button"}
